OpenGLApplication/Debug
OpenGLApplication/OpenGLApplication/Debug
OpenGLApplication/OpenGLApplication/OpenGLApplication - Copy.cpp_backup
OpenGLApplication/.vs/
helloOpenGL/.vs/
helloOpenGL/Debug/
helloOpenGL/helloOpenGL/Debug/